<nav class="prev-next">
{%- assign media = site.media | where_exp: "item", "item.layout == 'media'" | where: "lang", page.lang %}
{%- for post in media %}
  {%- if post.lang == page.lang %}
    {%- if prev %}
      <a href="{{ post.url }}">{{ site.t[page.lang].prev }}</a>
      {%- break %}
    {%- endif %}
    {%- assign prev = false %}
    {%- if post.path == page.path %}
      {%- assign prev = true %}
    {%- endif %}
  {%- endif %}
{%- endfor %}

{%- assign media = site.media | where_exp: "item", "item.layout == 'media'" | where: "lang", page.lang | reverse %}
{%- for post in media %}
  {%- if post.lang == page.lang %}
    {%- if next %}
      <a href="{{ post.url }}">{{ site.t[page.lang].next }}</a>
      {%- break %}
    {%- endif %}
    {%- assign next = false %}
    {%- if post.path == page.path %}
      {%- assign next = true %}
    {%- endif %}
  {%- endif %}
{%- endfor %}
</nav>