{% include head.html %}

<body id="body">

	<main class="media">
	
		<div class="content"> 

			<h1 class="body__title"><a href="/{{ page.lang }}/">{{ site.t[page.lang].title }}</a></h1>
			<!-- <h2 class="body__description">{{ site.t[page.lang].description }}</h2> -->
			
			{% include lang_changer.html %}
			
			<h2 class="post__title">{{ page.title }}</h2>
      
			<p class="post__date"><small>{% include post_date.html %}</small></p>
      
      {% include prev_next.html %}

      {% capture media_item_name %}{{ page.url | remove: "media" | remove: "/" | remove: "page" }}{% endcapture %}
      
      <img src="/media/{{ media_item_name }}/{{ media_item_name }}.jpg" alt="{{ page.title }}">

			

      
		</div>

	</main>

	{% include footer.html %}

</body>
</html>