{% include head.html %}

<body id="body">

	<main class="post">
	
		<div class="content"> 

			<h1 class="body__title"><a href="/{{ page.lang }}/">{{ site.t[page.lang].title }}</a></h1>
			
			{% include lang_changer.html %}
			
			<h2 class="post__title">{{ page.title }}</h2>
 			<p class="post__date"><small>{% include post_date.html %}</small></p>

			{% assign content = page.content | strip_newlines %}
			
			{%- if content != "" %}
				{{ content }}				
			{%- else %}
				<p><strong> Not yet translated </strong></p>
			{%- endif %}
      
      {% for media_item in site.media %}      
        {%- capture media_item_name %}{{ media_item.url | remove: "media" | remove: "/" | remove: "page" }}{% endcapture %}     

        {%- if page.media contains media_item_name %}
          <div class="media-item">
            <a href="/media/{{ media_item_name }}/page/"><img src="/media/{{ media_item_name }}/{{ media_item_name }}.jpg" alt="{{ media_item.title }}. {{ media_item.location }}"></a>
          </div>
        {%- endif %}
      {%- endfor -%}
      
      {% include prev_next_blog.html %}

		</div>

	</main>

	{% include footer.html %}

</body>
</html>