{% include head.html %}

<body id="body">

	<main class="post">
	
		<div class="content"> 

			<h1 class="body__title"><a href="/{{ page.lang }}/">{{ site.t[page.lang].title }}</a></h1>
			<!-- <h2 class="body__description">{{ site.t[page.lang].description }}</h2> -->
			
			{% include lang_changer.html %}
			
			<h2 class="post__title">{{ page.title }}</h2>
      
			<p class="post__date"><small>{% include post_date.html %}</small></p>
      
      {% include prev_next.html %}
			
			{%- assign content = page.content | strip_newlines %}
			
			{% if content != "" %}
				{{ content }}				
			{% else %}
				<p><strong> Not yet translated </strong></p>
			{% endif %}
      
      {% for media_item in site.media %}
      
        {% capture current_media_item %}{{ media_item.url | remove: "media" | remove: "/" | remove: "page" }}{% endcapture %}
        
        <div> current_media_item <br>
        {{ current_media_item }}
        <br>
        </div>

        {% if page.media contains current_media_item %}
          <div class="media-item">
            <h3>{{ media_item.title }}</h3>
            <p>{{ media_item.location }}</p>
          </div>
        {% endif %}
      {% endfor %}

		</div>

	</main>

	{% include footer.html %}

</body>
</html>